In [1]:
!pip install pandas

Requirement already satisfied: pandas in /Users/mariajosebarney/anaconda3/lib/python3.11/site-packages (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /Users/mariajosebarney/anaconda3/lib/python3.11/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Users/mariajosebarney/anaconda3/lib/python3.11/site-packages (from pandas) (2022.7)
Requirement already satisfied: numpy>=1.21.0 in /Users/mariajosebarney/anaconda3/lib/python3.11/site-packages (from pandas) (1.24.3)
Requirement already satisfied: six>=1.5 in /Users/mariajosebarney/anaconda3/lib/python3.11/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [2]:
import pandas as pd
data = pd.read_csv('basepizza.csv')
data.head()

,Nombre completo,Pollo,Tocineta,Jamón,Cábano,Chorizo,Calamar,Pepperoni,Piña,Tomate,Maicitos,Plátano maduro,Jalapeño,Cebolla,Champiñón,Aceitunas
0,Percy,6,9,8,2,3,7,6,10,10,2,8,1,5,10,2
1,Guillermo,10,10,10,10,10,8,10,1,3,6,10,10,4,2,1
2,Juan Jose Buesaquillo,10,10,8,10,7,1,10,1,9,1,3,5,2,1,1
3,Monk,7,8,8,9,9,1,10,8,8,9,4,6,4,7,8
4,Rossy Hurtado,10,10,10,6,6,1,8,1,1,10,1,1,9,10,1

In [3]:
from sklearn.neighbors import NearestNeighbors
k = 5 
features = data[['Pollo', 'Tocineta', 'Jamón', 'Cábano', 'Chorizo', 'Calamar', 'Pepperoni', 'Piña', 'Tomate', 'Maicitos', 'Plátano maduro', 'Jalapeño', 'Cebolla', 'Champiñón', 'Aceitunas']]
knn = NearestNeighbors(n_neighbors=k)
knn.fit(features)
usuario_ejemplo = 0
distancias, indices = knn.kneighbors([features.iloc[usuario_ejemplo]])
print("Usuarios más cercanos:")
print(data.iloc[indices[0]])
print("Distancias:")
print(distancias[0])

Usuarios más cercanos:
             Nombre completo  Pollo  Tocineta  Jamón  Cábano  Chorizo  \
0                      Percy      6         9      8       2        3
7                  Gabriela       8        10      8       5        4
12              Samuel Ortiz      7         9      4       5        5
20  Cristian Ortiz Melendez      10        10      8       6        9
19         Dana García Cañón      7         8      6       4        2

    Calamar  Pepperoni  Piña  Tomate  Maicitos  Plátano maduro  Jalapeño  \
0         7          6    10      10         2               8         1
7        10         10    10       4         9              10         1
12        1         10     7       6         5               8         4
20       10          8     8       6         8              10         1
19        1         10     4       8         9               9         3

    Cebolla  Champiñón  Aceitunas
0         5         10          2
7         6          9          1
12        3          7          1
20        6          9          1
19        2          8          1
Distancias:
[ 0.         11.48912529 11.78982612 12.04159458 13.07669683]

/Users/mariajosebarney/anaconda3/lib/python3.11/site-packages/sklearn/base.py:464: UserWarning: X does not have valid feature names, but NearestNeighbors was fitted with feature names
  warnings.warn(